html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/logo-mark.svg);
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
    margin: 20px 0;
    word-wrap: break-word;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
    box-sizing: border-box;
}

.login-form-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form-field::placeholder {
    color: #3a3a3a;
}

#login-form-submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    font-size: 1rem;
}

#login-error-msg-holder {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#login-error-msg {
    width: auto;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
    text-align: center;
}

#error-msg-second-line {
    display: block;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.2rem;
        margin: 10px 0;
    }

    form {
        padding: 15px;
    }

    .login-form-field {
        margin-bottom: 10px;
        padding: 8px;
        font-size: 0.9rem;
    }

    #login-form-submit {
        padding: 8px;
        font-size: 0.9rem;
    }

    #login-error-msg {
        font-size: 0.9rem;
    }
}
